{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "APP_ENVIRONMENT": "development",
    "APP_NAME": "CHANGEME",
    "TIMEZONE": "UTC"
  }
}
